@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    cupcake,
    nord,
    dark;
}
@plugin "@tailwindcss/typography";

@utility scrollbar-reset {
  scrollbar-width: auto;

  &::-webkit-scrollbar {
    display: unset;
  }
}
